body {
  background: url('img/aaaa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
.button {
  border: none;
  color: white;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: century gothic;
  margin: 12px 20px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.button1 {
  background-color: #0a3d62;  
  color: white; 
  border: 1px solid white;
}

.button1:hover {
  background-color: #3c6382;
  color: white;
}

h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 600px;
  top: 310px;
  left: 450px;
}

h1 span {
  font-size: 40px;
  margin-left: 0px;
  color: white;
}

.message {
  background-color: #f6b93b;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

.img img{
  display: none;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@media only screen and (max-width: 768px){
  
    .button {
    display: inline-block;
    }
    h1 {
    width: 350px;
    font-size: 1.5rem;
    line-height: 1;
    left: 0;
    }
    h1 span {
    font-size: 25px;
    }
    .message {
    top: 0.2rem;
    left: 190px;
    }
    .img img{
      width: 70%;
    }
    @keyframes openclose {
    0% {
      top: 0;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 200px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -1.5rem;
      
    }
    48% {
      top: -1.5rem;
      width: 190px;
    }
    62% {
      top: -1.5rem;
      width: 190px;
    }
    66% {
      top: -1.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -3rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -3rem;
      width: 200px;
    }
    95% {
      top: -3rem;
      width: 200px;
    }
    98% {
      top: -3rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
  
}

@media only screen and (min-width: 600px){
    .message {
    left: 290px;
    }
}